<!-- Skippy -->
<a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
  <div class="container">
    <span class="u-skiplink-text">Skip to main content</span>
  </div>
</a>
<!-- End Skippy -->

<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--modern u-header--bordered u-header--sticky-top-lg u-header--show-hide-lg u-header--toggle-section-lg"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
  <div class="u-header__section">
    <div id="logoAndNav" class="container-fluid">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-lg u-header__navbar">
        <!-- Logo -->
        <div class="u-header__navbar-brand-wrapper">
          <%= link_to root_path, class: "navbar-brand u-header__navbar-brand" do %>
            <img class="u-header__navbar-brand-default" src="../../assets/svg/logos/logo.svg" alt="Logo">
            <img class="u-header__navbar-brand-mobile" src="../../assets/svg/logos/logo-short.svg" alt="Logo">
          <% end %>
        </div>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger u-header__hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
          <span class="d-none d-sm-inline-block">Menu</span>
          <span id="hamburgerTrigger" class="u-hamburger__box ml-3">
            <span class="u-hamburger__inner"></span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse py-0">
          <ul class="navbar-nav u-header__navbar-nav">
            <!-- Blog -->
            <li class="nav-item u-header__nav-item"
                data-event="hover"
                data-animation-in="fadeInUp"
                data-animation-out="fadeOut">
              <%= link_to 'Blog', posts_path, class: "nav-link u-header__nav-link", 'aria-haspopup': "false", 'aria-expanded': "false" %>
            </li>
            <!-- End Blog -->

            <!-- Checkout -->
            <li class="nav-item u-header__nav-item"
                data-event="hover"
                data-animation-in="fadeInUp"
                data-animation-out="fadeOut">
              <%= link_to 'Checkout', checkout_user_info_path, class: "nav-link u-header__nav-link", 'aria-haspopup': "false", 'aria-expanded': "false" %>
            </li>
            <!-- End Checkout -->

            <!-- Button -->
            <li class="nav-item u-header__nav-item-btn">

              <% if user_signed_in? %>
                <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary" do %>
                  <i class="fas fa-sign-out-alt"></i>
                  Log out
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, class: "btn btn-sm btn-primary" do %>
                  <i class="fa fa-user-circle mr-1"></i>
                  Signin
                <% end %>
              <% end %>
            </li>
            <!-- End Button -->

            <!-- Search -->
            <li class="nav-item u-header__navbar-icon u-header__navbar-v-divider">
              <a class="btn btn-xs btn-icon btn-text-dark u-header__search-toggle" href="javascript:;" role="button"
                 aria-haspopup="true"
                 aria-expanded="false"
                 aria-controls="search"
                 data-unfold-target="#search"
                 data-unfold-hide-on-scroll="false"
                 data-unfold-type="css-animation"
                 data-unfold-duration="300"
                 data-unfold-delay="300"
                 data-unfold-animation-in="slideInUp">
                <i class="fa fa-search btn-icon__inner"></i>
              </a>

              <!-- Input -->
              <form id="search" class="js-focus-state input-group form u-header__search u-unfold--css-animation u-unfold--hidden">
                <input class="form-control form__input" type="search" placeholder="Search Space">
                <div class="input-group-addon u-header__search-addon p-0">
                  <button class="btn btn-primary u-header__search-addon-btn" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </form>
              <!-- End Input -->
            </li>
            <!-- End Search -->
          </ul>
        </div>
        <!-- End Navigation -->

        <ul class="navbar-nav flex-row u-header__secondary-nav">
          <!-- Shopping Cart -->
          <li class="nav-item u-header__navbar-icon-wrapper u-header__navbar-icon">
            <a id="shoppingCartDropdownInvoker" class="btn btn-xs btn-icon btn-text-dark" href="javascript:;" role="button"
                    aria-controls="shoppingCartDropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-unfold-event="click"
                    data-unfold-target="#shoppingCartDropdown"
                    data-unfold-type="css-animation"
                    data-unfold-duration="300"
                    data-unfold-delay="300"
                    data-unfold-hide-on-scroll="true"
                    data-unfold-animation-in="slideInUp"
                    data-unfold-animation-out="fadeOut">
              <i class="fa fa-shopping-cart btn-icon__inner"></i>
            </a>

            <div id="shoppingCartDropdown" class="u-unfold u-unfold--cart text-center border rounded-0 right-0 p-7" aria-labelledby="shoppingCartDropdownInvoker" style="min-width: 250px;">
              <span class="u-icon u-icon--primary u-icon--md rounded-circle mb-3">
                <i class="fa fa-shopping-basket u-icon__inner"></i>
              </span>
              <span class="d-block">Your Cart is Empty</span>
            </div>
          </li>
          <!-- End Shopping Cart -->

          <!-- Account Signin -->
          <li class="nav-item u-header__navbar-icon">
            <!-- Account Sidebar Toggle Button -->
            <a id="sidebarNavToggler" class="btn btn-xs btn-icon btn-text-dark" href="javascript:;" role="button"
               aria-controls="sidebarContent"
               aria-haspopup="true"
               aria-expanded="false"
               data-unfold-event="click"
               data-unfold-hide-on-scroll="false"
               data-unfold-target="#sidebarContent"
               data-unfold-type="css-animation"
               data-unfold-animation-in="fadeInRight"
               data-unfold-animation-out="fadeOutRight"
               data-unfold-duration="500">
              <i class="fa fa-bars btn-icon__inner font-size-13"></i>
            </a>
            <!-- End Account Sidebar Toggle Button -->
          </li>
          <!-- End Account Signin -->
        </ul>
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
