<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <!-- Hero Section -->
  <div class="container space-2 space-3-top--lg">
    <h1><%= @title %></h1>
  </div>
  <!-- End Hero Section -->

  <!-- News Blog Content -->
  <div class="container space-3-bottom--lg">
    <div class="row">
      <div class="col-lg-9 order-lg-2 mb-9 mb-lg-0">
        <div class="card-mb card-sm-columns card-sm-2-count">
          <% @posts.each do |post| %>
            <!-- Blog Grid -->
            <article class="card mb-3">
              <img class="card-img-top" src="<%= post.image %>" alt="Image Description">
              <div class="card-body p-5">
                <small class="d-block text-muted mb-2"><%= post.date.strftime("%B %e, %Y")  %></small>
                <h3 class="h5">
                  <%= link_to post.title, post %>
                </h3>
                <p><%= post.subtitle %></p>
              </div>
              <div class="card-footer bg-gray-100 py-4 px-5">
                <div class="media">
                  <img class="u-sm-avatar rounded-circle mr-3" src="<%= post.user.image || "/assets/img/100x100/img18.jpg" %>" alt="Image Description">
                  <div class="media-body">
                    <h4 class="d-inline-block mb-0">
                      <%= link_to post.user.full_name, post, class: "d-block font-size-13" %>
                    </h4>
                  </div>
                </div>
              </div>
            </article>
            <!-- End Blog Grid -->
          <% end %>
        </div>

        <div class="mb-9"></div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <%= paginate @posts %>
        </nav>
        <!-- End Pagination -->
      </div>

      <div class="col-lg-3 order-lg-1">
        <!-- Recent Posts -->
        <div class="mb-7">
          <h3 class="h5 mb-3">Recent posts</h3>

          <div class="border rounded p-4">
            <!-- Recent Posts List -->
            <ul class="list-unstyled">
              <% @recent_posts.each_with_index do |post, index| %>
                <li class="py-1">
                  <%= link_to post.title, post, class: "text-secondary" %>
                </li>
                <% unless index == @recent_posts.length - 1 %>
                  <li class="dropdown-divider"></li>
                <% end %>
              <% end %>
            </ul>
            <!-- End Recent Posts List -->
          </div>
        </div>
        <!-- End Recent Posts -->

        <!-- Categories -->
        <div class="mb-7">
          <h3 class="h5 mb-3">Categories</h3>

          <div class="border rounded p-4">
            <!-- Categories List -->
            <ul class="list-unstyled">
              <% @categories.each_with_index do |category, index| %>
                <li class="py-1">
                  <%= link_to category.first, posts_path(category: category.second), class: "text-secondary" %>
                </li>
                <% unless index == @categories.length - 1 %>
                  <li class="dropdown-divider"></li>
                <% end %>
              <% end %>
            </ul>
            <!-- End Categories List -->
          </div>
        </div>
        <!-- End Categories -->
      </div>
    </div>
  </div>
  <!-- End News Blog Content -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
