<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <!-- Hero Section -->
  <div class="container space-2 space-3-top--lg">
    <h1><%= @title %></h1>
  </div>
  <!-- End Hero Section -->

  <!-- News Blog Content -->
  <div class="container space-3-bottom--lg">
    <div class="row">
      <div class="col-lg-9 order-lg-2 mb-9 mb-lg-0">
        <div class="card-mb card-sm-columns card-sm-2-count">
          <% @posts.each do |post| %>
            <!-- Blog Grid -->
            <article class="card mb-3">
              <img class="card-img-top" src="<%= post.image %>" alt="Image Description">
              <div class="card-body p-5">
                <small class="d-block text-muted mb-2"><%= post.formatted_date %></small>
                <h3 class="h5">
                  <%= link_to post.title, post %>
                </h3>
                <p><%= post.subtitle %></p>
              </div>
              <div class="card-footer bg-gray-100 py-4 px-5">
                <div class="media">
                  <img class="u-sm-avatar rounded-circle mr-3" src="<%= post.user.image || post.user.default_image %>" alt="Image Description">
                  <div class="media-body">
                    <h4 class="d-inline-block mb-0">
                      <%= link_to post.user.full_name, post, class: "d-block font-size-13" %>
                    </h4>
                  </div>
                </div>
              </div>
            </article>
            <!-- End Blog Grid -->
          <% end %>
        </div>

        <div class="mb-9"></div>

        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <%= paginate @posts %>
        </nav>
        <!-- End Pagination -->
      </div>

      <div class="col-lg-3 order-lg-1">
        <%= render 'recent_posts' %>

        <%= render 'categories' %>
      </div>
    </div>
  </div>
  <!-- End News Blog Content -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
