<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <!-- Hero Section -->
  <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "normal"}'>
    <!-- Apply your Parallax background image here -->
    <div class="divimage dzsparallaxer--target gradient-overlay-half-dark-v2" style="height: 120%; background-image: url(<%= @post.hero %>);"></div>

    <div class="d-flex align-items-end height-600 position-relative z-index-2">
      <div class="container">
        <div class="w-lg-60 text-center mx-lg-auto mb-9">
          <!-- Title -->
          <div class="mb-7">
            <h1 class="display-4 font-size-48--md-down text-white mb-4"><%= @post.title %></h1>
            <p class="lead text-white"><%= @post.subtitle %></p>
          </div>
          <!-- End Title -->

          <!-- Author -->
          <img class="u-avatar rounded-circle mb-3" src="<%= @post.user.image %>" alt="Image Description">
          <h2 class="h6 text-white"><%= @post.user.full_name %></h2>
          <!-- End Author -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Article Content Section -->
  <div class="container space-2 space-3-bottom--lg">
    <div class="row">
      <div class="col-lg-9 mb-9 mb-lg-0">
        <!-- Info -->
        <ul class="list-inline text-secondary mb-9">
          <li class="list-inline-item mr-4">
            <i class="far fa-calendar-alt mr-2"></i>
            <%= @post.formatted_date %>
          </li>
          <li class="list-inline-item mr-4">
            <i class="far fa-folder-open mr-2"></i>
            <%= link_to @post.category, posts_path(category: @post.category) %>
          </li>
        </ul>
        <!-- End Info -->

        <!-- Description -->
        <div class="mb-9">
          <%= @post.body.html_safe %>
        </div>
        <!-- End Description -->

        <hr class="my-8">

        <!-- Author -->
        <div class="media">
          <img class="u-lg-avatar rounded-circle mr-4" src="<%= @post.user.image %>" alt="Image Description">
          <div class="media-body">
            <h4 class="h5"><%= @post.user.full_name %></h4>
            <p><%= @post.user.bio %></p>
            <%= link_to 'All Author Posts', posts_path(user: @post.user.id), class: "btn btn-sm btn-secondary" %>
          </div>
        </div>
        <!-- End Author -->
      </div>

      <div class="col-lg-3">
        <%= render 'recent_posts' %>

        <%= render 'categories' %>
      </div>
    </div>
  </div>
  <!-- End Article Content Section -->

  <!-- Related News Section -->
  <div class="bg-gray-100">
    <div class="container space-2 space-3--lg">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-auto mb-7">
        <h2 class="h3">Got another minute? Check out:</h2>
      </div>
      <!-- End Title -->

      <div class="card-deck d-block d-lg-flex">
        <% @suggested_posts.each do |post| %>
          <!-- Blog Grid -->
          <article class="card mb-4 mb-lg-0">
            <div class="card-body p-5">
              <small class="d-block text-muted mb-2"><%= post.formatted_date %></small>
              <h3 class="h5">
                <%= link_to post.title, post %>
              </h3>
              <p class="mb-0"><%= post.subtitle %></p>
            </div>
            <div class="card-footer py-4 px-5">
              <div class="media">
                <img class="u-sm-avatar rounded-circle mr-3" src="<%= post.user.image %>" alt="Image Description">
                <div class="media-body">
                  <h4 class="d-inline-block mb-0">
                    <a class="d-block font-size-13" href="#"><%= post.user.full_name %></a>
                  </h4>
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Grid -->
        <% end %>
      </div>
    </div>
  </div>
  <!-- Related News Section -->

  <!-- Comments Section -->
  <div class="container space-2 space-3--lg">
    <div class="w-lg-60 mx-auto">
      <h4 class="h6"><%= pluralize(@comments.count, 'Comment') %></h4>

      <hr class="mb-6">

      <% @comments.each do |comment| %>
        <!-- Comments -->
        <div>
          <!-- Author -->
          <div class="media mb-3">
            <img class="img-fluid u-avatar rounded-circle mr-3" src="<%= comment.user.image %>" alt="Image Description">
            <div class="media-body">
              <h4 class="d-inline-block mb-1">
                <a class="d-block h6 mb-0" href="#"><%= comment.user.full_name %></a>
              </h4>
              <small class="d-block text-muted"><%= time_ago_in_words comment.created_at %> ago</small>
            </div>
          </div>
          <!-- End Author -->

          <p><%= comment.body %></p>

          <!-- Likes/Reply -->
          <ul class="list-inline d-flex">
            <li class="list-inline-item">
              <a class="text-secondary" href="#">
                <%= link_to 'Like', comments_like_path(comment: comment), remote: true %>
                <%= comment.likes_count %>
                <i class="far fa-thumbs-up ml-1"></i>
              </a>
            </li>
            <li class="list-inline-item ml-3">
              <a class="text-secondary" href="#">
                <%= link_to 'Dislike', comments_dislike_path(comment: comment), remote: true %>
                <%= comment.dislikes_count %>
                <i class="far fa-thumbs-down ml-1"></i>
              </a>
            </li>
            <li class="list-inline-item ml-auto">
              <a class="text-secondary" href="#">
                <i class="far fa-comments mr-1"></i>
                Reply
              </a>
            </li>
          </ul>
          <!-- End Likes/Reply -->
        </div>
        <!-- End Comments -->

        <hr class="my-6">
      <% end %>
    </div>
  </div>
  <!-- End Comments Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
