<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <!-- Hero Section -->
  <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll" data-options='{direction: "normal"}'>
    <!-- Apply your Parallax background image here -->
    <div class="divimage dzsparallaxer--target gradient-overlay-half-dark-v2" style="height: 120%; background-image: url(<%= @post.hero || @post.default_hero %>);"></div>

    <div class="d-flex align-items-end height-600 position-relative z-index-2">
      <div class="container">
        <div class="w-lg-60 text-center mx-lg-auto mb-9">
          <!-- Title -->
          <div class="mb-7">
            <h1 class="display-4 font-size-48--md-down text-white mb-4"><%= @post.title %></h1>
            <p class="lead text-white"><%= @post.subtitle %></p>
          </div>
          <!-- End Title -->

          <!-- Author -->
          <img class="u-avatar rounded-circle mb-3" src="<%= @post.user.pic %>" alt="Image Description">
          <h2 class="h6 text-white"><%= @post.user.full_name %></h2>
          <!-- End Author -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <!-- Article Content Section -->
  <div class="container space-2 space-3-bottom--lg">
    <div class="row">
      <div class="col-lg-9 mb-9 mb-lg-0">
        <!-- Info -->
        <ul class="list-inline text-secondary mb-9">
          <li class="list-inline-item mr-4">
            <i class="far fa-calendar-alt mr-2"></i>
            <%= @post.formatted_date %>
          </li>
          <li class="list-inline-item mr-4">
            <i class="far fa-folder-open mr-2"></i>
            <%= link_to @post.category, posts_path(category: @post.category) %>
          </li>
        </ul>
        <!-- End Info -->

        <!-- Description -->
        <div class="mb-9">
          <%= @post.body %>
        </div>
        <!-- End Description -->

        <hr class="my-8">

        <!-- Author -->
        <div class="media">
          <img class="u-lg-avatar rounded-circle mr-4" src="<%= @post.user.pic %>" alt="Image Description">
          <div class="media-body">
            <h4 class="h5"><%= @post.user.full_name %></h4>
            <p><%= @post.user.bio %></p>
            <%= link_to 'All Author Posts', posts_path(user: @post.user.id), class: "btn btn-sm btn-secondary" %>
          </div>
        </div>
        <!-- End Author -->
      </div>

      <div class="col-lg-3">
        <%= render 'recent_posts' %>

        <%= render 'categories' %>
      </div>
    </div>
  </div>
  <!-- End Article Content Section -->

  <!-- Related News Section -->
  <div class="bg-gray-100">
    <div class="container space-2 space-3--lg">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-auto mb-7">
        <h2 class="h3">Got another minute? Check out:</h2>
      </div>
      <!-- End Title -->

      <div class="card-deck d-block d-lg-flex">
        <!-- Blog Grid -->
        <article class="card mb-4 mb-lg-0">
          <div class="card-body p-5">
            <small class="d-block text-muted mb-2">May 15, 2018</small>
            <h3 class="h5">
              <a href="../blog/single-article-classic.html">InVision design forward fund</a>
            </h3>
            <p class="mb-0">Clark Valberg is the founder and CEO of InVision.</p>
          </div>
          <div class="card-footer py-4 px-5">
            <div class="media">
              <img class="u-sm-avatar rounded-circle mr-3" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
              <div class="media-body">
                <h4 class="d-inline-block mb-0">
                  <a class="d-block font-size-13" href="#">Andrea Gard</a>
                </h4>
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Grid -->

        <!-- Blog Grid -->
        <article class="card mb-4 mb-lg-0">
          <div class="card-body p-5">
            <small class="d-block text-muted mb-2">May 22, 2018</small>
            <h3 class="h5">
              <a href="../blog/single-article-classic.html">Announcing a plan for small teams</a>
            </h3>
            <p class="mb-0">We've always believed that by providing a space</p>
          </div>
          <div class="card-footer py-4 px-5">
            <div class="media">
              <img class="u-sm-avatar rounded-circle mr-3" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
              <div class="media-body">
                <h4 class="d-inline-block mb-0">
                  <a class="d-block font-size-13" href="#">James Austin</a>
                </h4>
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Grid -->

        <!-- Blog Grid -->
        <article class="card mb-4 mb-lg-0">
          <div class="card-body p-5">
            <small class="d-block text-muted mb-2">May 30, 2018</small>
            <h3 class="h5">
              <a href="../blog/single-article-classic.html">Design principles</a>
            </h3>
            <p class="mb-0">The biggest collections of design principles on the internet</p>
          </div>
          <div class="card-footer py-4 px-5">
            <div class="media">
              <img class="u-sm-avatar rounded-circle mr-3" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
              <div class="media-body">
                <h4 class="d-inline-block mb-0">
                  <a class="d-block font-size-13" href="#">Charlotte Moore</a>
                </h4>
              </div>
            </div>
          </div>
        </article>
        <!-- End Blog Grid -->
      </div>
    </div>
  </div>
  <!-- Related News Section -->

  <!-- Comments Section -->
  <div class="container space-2 space-3--lg">
    <div class="w-lg-60 mx-auto">
      <h4 class="h6">25 Comments</h4>

      <hr class="mb-6">

      <!-- Comments -->
      <div>
        <!-- Author -->
        <div class="media mb-3">
          <img class="img-fluid u-avatar rounded-circle mr-3" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
          <div class="media-body">
            <h4 class="d-inline-block mb-1">
              <a class="d-block h6 mb-0" href="#">Russel Fernandes</a>
            </h4>
            <small class="d-block text-muted">3 hours ago.</small>
          </div>
        </div>
        <!-- End Author -->

        <p>Since our attention spans seem to be shrinking by the day — keeping it simple is more important than ever.</p>

        <!-- Likes/Reply -->
        <ul class="list-inline d-flex">
          <li class="list-inline-item">
            <a class="text-secondary" href="#">
              17
              <i class="far fa-thumbs-up ml-1"></i>
            </a>
          </li>
          <li class="list-inline-item ml-3">
            <a class="text-secondary" href="#">
              0
              <i class="far fa-thumbs-down ml-1"></i>
            </a>
          </li>
          <li class="list-inline-item ml-auto">
            <a class="text-secondary" href="#">
              <i class="far fa-comments mr-1"></i>
              Reply
            </a>
          </li>
        </ul>
        <!-- End Likes/Reply -->
      </div>
      <!-- End Comments -->

      <hr class="my-6">

      <!-- Comments -->
      <div class="mb-7">
        <!-- Author -->
        <div class="media mb-3">
          <img class="img-fluid u-avatar rounded-circle mr-3" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
          <div class="media-body">
            <h4 class="d-inline-block mb-1">
              <a class="d-block h6 mb-0" href="#">Elizabeth Lord</a>
            </h4>
            <small class="d-block text-muted">1 day ago.</small>
          </div>
        </div>
        <!-- End Author -->

        <p>As aSpecial Education teacher this resonates so well with me. Fighting with gen ed teachers to flatten for the students with learning disabilities. It also confirms some things for me in my writing.</p>

        <!-- Likes/Reply -->
        <ul class="list-inline d-flex">
          <li class="list-inline-item">
            <a class="text-secondary" href="#">
              17
              <i class="far fa-thumbs-up ml-1"></i>
            </a>
          </li>
          <li class="list-inline-item ml-3">
            <a class="text-secondary" href="#">
              0
              <i class="far fa-thumbs-down ml-1"></i>
            </a>
          </li>
          <li class="list-inline-item ml-auto">
            <a class="text-secondary" href="#">
              <i class="far fa-comments mr-1"></i>
              Reply
            </a>
          </li>
        </ul>
        <!-- End Likes/Reply -->
      </div>
      <!-- End Comments -->

      <a class="btn btn-block btn-dark" href="#">Load More</a>
    </div>
  </div>
  <!-- End Comments Section -->

  <!-- Responsive Section -->
  <div class="bg-gray-100">
    <div class="container">
      <div class="row justify-content-lg-between align-items-lg-start">
        <div class="col-lg-6 space-2 space-3--lg">
          <!-- Title -->
          <div class="mb-7">
            <span class="u-label u-label--sm u-label--purple mb-3">Space on the go</span>
            <h2>Space on mobile</h2>
            <p>Don't miss out because you're on the move. Stay connected and collaborate with your team from anywhere with notifications, comments, and project activity. Download Space for iPhone or Space for Android.</p>
          </div>
          <!-- End Title -->

          <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark text-left mb-2 mb-md-0 mr-md-2">
            <span class="media align-items-center">
              <i class="fab fa-apple fa-3x mr-3"></i>
              <span class="d-block">
                <span class="d-block">Download on the</span>
                <strong class="d-block font-size-14">App Store</strong>
              </span>
            </span>
          </button>
          <!-- End Button -->

          <!-- Button -->
          <button type="button" class="btn btn-xs btn-dark text-left mb-2 mb-md-0">
            <span class="media align-items-center">
              <i class="fab fa-google-play fa-3x mr-3"></i>
              <span class="d-block">
                <span class="d-block">Get it on</span>
                <strong class="d-block font-size-14">Google Play</strong>
              </span>
            </span>
          </button>
          <!-- End Button -->
        </div>

        <div class="col-lg-4 text-center mt-lg-auto">
          <!-- SVG Mockup -->
          <object type="image/svg+xml" data="../../assets/svg/mockups/phone-mockup-1.svg" class="w-75 w-sm-100 max-width-sm-40"></object>
          <!-- End SVG Mockup -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Responsive Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
